*{
    list-style: none;
    text-decoration: none;
}

.mi-hachazo{
    background:linear-gradient(rgba(0, 0, 0, .40) 100%, rgba(0, 0, 0, .40) 10%), url(../img/extras/fondo.jpg);
    background-size: cover;
}

h2, h3{
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.jumbotron{
    margin-top: 50px;
    background:linear-gradient(rgba(0, 0, 0, .70) 100%, rgba(0, 0, 0, .40) 10%), url(../img/extras/banner.jpg);
}

.jumbotron h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
}

.subtexto{
    color:#ffffff;
    font-family: 'Playfair Display', serif;
}

.breadcrumb-item a{
    color: #1d1203e8;
}

article p{
    text-align: justify;
    padding: 10px;
}

.producto .btn{
    background-color: #1d1203e8;
}

.footer{
    padding: 10px 10px 5px 10px;
    background-color:#1d1203e8;
    margin-bottom: 0px;
    margin-top: 40px;
    color: #ffffff;
}

.footer a{
    color:#ffffff;
}

.producto{
    flex:1 150px;
    padding: 2px 5px 2px 5px;
}

.btn-compra{
    width: 100%;
    transition: all ease 500ms;
}

.btn-compra:hover{
    background-color: #ffffff;
    border: 1px solid #1d1203e8;
    color: #000000;
}

.fo-icon{
    margin-right: 3px;
}

.contenedor-clientes{
    margin-bottom: 100px;
}
.cliente{
    flex:1 150px;
    padding: 2px 5px 2px 5px;
    margin-left:10px;
}
.cardo{
    height: 270px; 
}
 
.precio{
    font-weight: bold;
}

.c-botella{
    color: #1d1203e8;
    font-size:20px;
    transition: all ease 500ms;
}

.c-botella:hover{
    color: #c51515bb;
}

.zoom-img{
    transition: all ease 500ms;
    box-shadow: 3px 3px 3px gray;
    border-radius: 5px;
}
.zoom-img:hover{
    transform: scale(1.3);
}

.btn-domicilio{
    margin-left: 35%;
    background: #1d1203e8;
    font-weight: bold;
    transition: all ease 500ms;
}


@media (min-width: 640px) {
    .btn-domicilio{
        margin-left: 44%;
    }
    
}

.btn-domicilio:hover{
    background: #553507e8;
}

.form-modal-domicilio{
    background:linear-gradient(rgba(0, 0, 0, .70) 100%, rgba(0, 0, 0, .40) 10%), url(/img/fondo-modal.jpeg);
    background-position:center;
    text-align: center;
    font-weight:bold;
    font-family: 'Playfair Display', serif;
    color:white;
}

.formu-modal{
    background-color: rgba(54, 35, 10, 0.795);
}
